* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Roboto', sans-serif;
  background: #121f3d;
  color: white;
}

h1{
  text-align: center;
  margin: 15px 0;
}

main {
  width: 50%;
  min-width: 500px;
  margin: 0 auto;
}

ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

button{
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 10px;
  background: transparent;
  color: white;
  margin: 2px;
}


button:hover{
  cursor: pointer;
  opacity: .6;
}

#grid{
  margin: 20px 0;
}

.grid-row{
  display: flex;
  padding: 5px;
}

.row-item{
  border: 1px solid gray;
  width: 45px;
  height: 45px;
  margin: 0 10px;

}
